[submodule "third-party/catch2"]
	path = third-party/catch2
	url = https://github.com/bigiansen/catch2
[submodule "lib/image/third-party/zlib"]
	path = lib/image/third-party/zlib
	url = https://github.com/bigiansen/zlib
